[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymongo = "*"
djangorestframework = "*"
python-dateutil = "*"
xhtml2pdf = "*"
opencv-python = "*"
qrcode = "*"
numpy = "*"
django-jazzmin = "*"
secure-smtplib = "*"
django-admin-volt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
