<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pay Slip</title>
</head>
<style>
  html {
    font-size: 14px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }

  table td {
    line-height: 25px;
    padding-left: 15px;
  }

  table th {
    background-color: white;
    color: #363636;
  }

  .pay {
    background-color: wheat;
  }
</style>

<body>
  <table border="1" width="100%" cellspacing="0" cellpadding="6">
    <tr>
      <th colspan='4' style="vertical-align: middle;" class="pay">
        <h1 style="font-size:20px;">Pay Slip For September 2022</h1>
      </th>
    </tr>
    <tr>
      <th colspan="2" style=" background-color: white;">Employee Name</th>
      <td colspan='2'>Rohan Sharma</td>
    </tr>
    <tr>
      <th class="pay">EmployeeId</th>
      <td>18</td>
      <th class="pay">Employee Email</th>
      <td style="width: 250px;">abcxyz.testmail0@gmail.com</td>
    </tr>
    <tr>
      <th class="pay">Contact Number</th>
      <td>9730394984</td>
      <th class="pay">PAN Number</th>
      <td>ABCDE1234W</td>
    </tr>
    <tr>
      <th class="pay">Monthly Gross</th>
      <td>50000</td>
      <th class="pay">Monthly Basic</th>
      <td>25000</td>
    </tr>
    <tr>
      <th class="pay">Days In Month</th>
      <td>30</td>
      <th class="pay">Days Payable</th>
      <td>11</td>
    </tr>
    <tr>
      <th class="pay">Bank Name</th>
      <td>Indian Bank</td>
      <th class="pay">Bank A/c No.</th>
      <td>12345678912345123</td>
    </tr>
    <tr>
      <th colspan='4' style="background-color: white;"><h1></h1></th>
    </tr>
    <tr>
      <th class="pay">Earning Head</th>
      <td class="pay">Current Month Earning</td>
      <th class="pay">Detetction Head</th>
      <td class="pay">Current Month Detetction</td>
    </tr>
    <tr>
      <th class="pay">Base</th>
      <td style="text-align: right;">25000</td>
      <th class="pay">Provident Fund</th>
      <td style="text-align: right">3000</td>
    </tr>
    <tr>
      <th class="pay">House Rent Allowences</th>
      <td style="text-align: right;">5000</td>
      <th class="pay">Professional Tax</th>
      <td style="text-align: right;">200</td>
    </tr>
    <tr>
      <th class="pay">Conveyance Allowences</th>
      <td style="text-align: right;">12000</td>
      <th style="text-align: right;background-color: white;"><th style="text-align: right;background-color: white;color: white;">Totals</th></th>
    </tr>
    <tr>
      <th class="pay">Other Allowances</th>
      <td style="text-align: right;">8000</td>
      <th style="text-align: right;background-color: white;"><th style="text-align: right;background-color: white; color: white;">h</th></th>
    </tr>
    <tr>
      <th style="text-align: right;" class="pay">Totals</th>
      <td style="text-align: right;">50000</td>
      <th style="text-align: right;background-color: white;"><th style="text-align: right;background-color: white;">3200</th></th>
    </tr>
    <tr>
      <th style="text-align: right;" class="pay">NET PAY</th>
      <td colspan="3" style="text-align: middle;">15133</td>
    </tr>
  </table>
</body>

</html>